# Dependencies
node_modules/
package-lock.json

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Environment files
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
